<div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center  px-5 py-5 space-x-5">
    <div class="rounded-lg shadow-xl bg-gray-900 text-white " >
          <!-- card -->
        <div class="card shadow-2xl  m-4">
          <figure>
            <img src="{{ site.baseurl }}/assets/images/about/fort.png ">
          </figure> 
          <div class="card-body">
            <h4 class="card-title">FORT TOURISM 
                </h4> 
            <p>  Enabling development and focus on Forts in Karnataka. New revenue for the state and employment for the rural folks in around 100 locations. Heritage Conservation and Heritage Economics - study and conceptualization.
   </p> 
          </div>
        </div>
    </div>
  
  
  
          <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
            <div class="card shadow-2xl   m-4">  
              <figure>
                <img src="{{ site.baseurl }}/assets/images/about/palace.png">
              </figure> 
              <div class="card-body">
                <h4 class="card-title">Indian institute of heritage and conservation at Mysore </h4> 
                <p>Setting up of the Indian institute of heritage and conservation at Mysore.
                  .</p> 
              </div>
            </div>
          </div>
  
          <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
            <div class="card shadow-2xl w-96 m-4">
              <figure> 
                <img src="{{ site.baseurl }}/assets/images/gallery/SPORTSDAY.jpg">
              </figure> 
              <div class="card-body">
                <h4 class="card-title">Enabling Cycle  Tourism in Karnataka
                </h4> 
                <p>Policy Guidelines
                    Integrated Strategic Plan
                    NMT Task Force, Bicycle Infra for Bengaluru  2010-2014
                    Green Economics
                    Rural Livelihood Empowerment
                    Last Mile Connectivity
                   .</p> 
              </div>
            </div>
          </div>  
          <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
            <div class="card shadow-2xl w-96 m-4">
              <figure>
                <img src="{{ site.baseurl }}/assets/images/about/cuisine.png">
              </figure> 
              <div class="card-body">
                <h4 class="card-title">CUISINE  TOURISM 

                </h4> 
                <p>Enabling Community Tourism in Villages.</p> 
              </div>
            </div>
          </div>  
          
  </div>