<div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-5 space-x-5">
    <div class="rounded-lg shadow-xl bg-gray-900 text-white " >
        <
          <!-- card -->
        <div class="card shadow-2xl object-center w-96 m-4">
          <figure>
            <img src="{{ site.baseurl }}/assets/images/about/gonative.jpg ">
          </figure> 
          <div class="card-body">
            <h4 class="card-title">Strategy Design & Program/Product Conceptialization
                </h4> 
            <p> As a strategic innovator for eliminating plastic waste organized the Plog run in association with Go Native and BBMP and brought out a significant transformation across the city in reducing plastic waste.  highlighted the importance of circular economy. s.
   </p> 
          </div>
        </div>
    </div>
  
  
  
          <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
            <div class="card shadow-2xl w-96 m-4">
              <figure>
                <img src="{{ site.baseurl }}/assets/images/about/community.png">
              </figure> 
              <div class="card-body">
                <h4 class="card-title">CM relief fund during COVID.  </h4> 
                <p>
                  Engaged with senior management of MPL and Sports dept & United Karnataka Chess Association to raise 15 Lakhs Led to increased reputation for MPL, as well as expanded brand recognition..
                  .</p> 
              </div>
            </div>
          </div>
  
          <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
            <div class="card shadow-2xl w-96 m-4">
              <figure>
                <img src="{{ site.baseurl }}/assets/images/about/tfn.png">
              </figure> 
              <div class="card-body">
                <h4 class="card-title">Tour of Nilgiris   </h4> 
                <p>Tour of Nilgiris - Worked initially to build the Brand of Tour of Nilgiris in media reach out and sponsorship. Highly succesful in the cycling community and is premiered as the leading bicycle tour in Asia..
                   .</p> 
              </div>
            </div>
          </div>  
          <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
            <div class="card shadow-2xl w-96 m-4">
              <figure>
                <img src="{{ site.baseurl }}/assets/images/about/codafone.jpg">
              </figure> 
              <div class="card-body">
                <h4 class="card-title">Vodafone
                </h4> 
                <p>Strategy to Brand Vodafone as Sustainable Brand to organize Cyclothon in Mysore and Bangalore.
                  .</p> 
              </div>
            </div>
          </div>  
          
  </div>