<div class="divider"><h4 class="card-title items-center	text-center">    COMPETENCIES</h4></div> 

<p class="card-title items-center	text-center"> From Tech Stack Design to Strategy, Process Innovation </p>

<div class="bg-gray-100 px-4 py-5 shadow sm:rounded-lg sm:px-2 mt-0">
    <h2 class="text-lg font-medium text-gray-900">CORE COMPETENCIES</h2>
    <div class="mt-6 flow-root">
      <ul class="flex flex-row space-x-4">
        <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center">
            <img src="{{ site.baseurl }}/assets/images/icons/innovation-48.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> Innovation for Sustainability </span></div>
          </div>
        </li>
        <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center">
            <img src="{{ site.baseurl }}/assets/images/icons/strategy-64.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> Digital technologies & Web technologies </span></div>
          </div>
        </li>
  
        <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center">
            <img src="{{ site.baseurl }}/assets/images/icons/spinach-96.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> Bio Philic Design </span></div>
          </div>
        </li>
        <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center">
            <img src="{{ site.baseurl }}/assets/images/icons/volunteering-96.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> Social and Community Innovation Design </span></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="bg-gray-100 px-4 py-5 shadow sm:rounded-lg sm:px-2 mt-0">
    <h2 class="text-lg font-medium text-gray-900">COMPUTING STACK</h2>
    <div class="mt-6 flow-root">
      <ul class="flex flex-row space-x-4">
        <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center">
            <img src="{{ site.baseurl }}/assets/images/icons/android-96.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> Android </span></div>
          </div>
        </li>
        <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center">
            <img src="{{ site.baseurl }}/assets/images/icons/react-100.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> Angular JS  </span></div>
          </div>
        </li>
         <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center"><img src="{{ site.baseurl }}/assets/images/icons/react-100.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> React </span></div>
          </div>
        </li>
        <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center"><img src="{{ site.baseurl }}/assets/images/icons/aws.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> AWS, Google </span></div>
          </div>
        </li> <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center"><img src="  {{ site.baseurl }}/assets/images/icons/web-64.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> Backends - Elasticsearch, MySql , Sqlite </span></div>
          </div>
        </li>
        <li class="mb-2">
          <div class="relative">
            <div class="relative flex space-x-2 items-center"><img src="{{ site.baseurl }}/assets/images/icons/git-64.png" alt="wallet" class="h-6" /> <span class="text-gray-700 text-md"> Linux - Git </span></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
   