<div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-5 space-x-5">
    <div class="rounded-lg shadow-xl bg-gray-900 text-white " >
        <
          <!-- card -->
        <div class="card shadow-2xl w-96 m-4">
          <figure> 
            <img src="{{ site.baseurl }}/assets/images/gallery/PK3.jpg">
          </figure> 
          <div class="card-body">
            <h4 class="card-title">Start up Cell
                </h4> 
            <p> Awarded by Start up Karnataka in Idea2Poc  for enabling bicycle co-operatives and platform coops..
   </p> 
          </div>
        </div>
    </div>
  
  
  
          <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
            <div class="card shadow-2xl w-96 m-4">
              <figure>
                <img src="{{ site.baseurl }}/assets/images/gallery/LEAD3.jpg">
              </figure> 
              <div class="card-body">
                <h4 class="card-title">Sustainability Leadership Award</h4> 
                <p>Sustainability Leadership Award by Union Minister for Commerce & Industries 
                  ﻿Suresh Prabhu
                  .</p> 
              </div>
            </div>
          </div>
  
          <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
            <div class="card shadow-2xl w-96 m-4">
              <figure>
                <img src="{{ site.baseurl }}/assets/images/gallery/plog.jpg">
              </figure> 
              <div class="card-body">
                <h4 class="card-title">Guinness Book Record  </h4> 
                <p>Guinness Book Record for Worlds Largest Collection of Plastic Bottles in a Single Day.
                   .</p> 
              </div>
            </div>
          </div>  
          <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
            <div class="card shadow-2xl w-96 m-4">
              <figure>
                <img src="{{ site.baseurl }}/assets/images/gallery/VOLVOAWARD.jpg">
              </figure> 
              <div class="card-body">
                <h4 class="card-title">Envision/Inspire
                </h4> 
                <p>OutStanding Performer Award by Omar Ishraq Global Leader in & Current Chairman Intel Corporation  in  GE Healthcare  .</p> 
              </div>
            </div>
          </div>  
          
  </div>