{% if site.data.settings.work-process %}
<!-- Work Process -->

<!-- ./Work Process -->
{% endif %}
{% if site.data.settings.work-process %}
<!-- Work Process -->


<div class="divider"><h4 class="card-title items-center	text-center">    WORK PROCESS </h4>

  <p class="card-title items-center	text-center">Approach based on design thinking </p> 
</div> 
<div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-5 space-x-5">
   <!-- ./Work Process -->
   {% for work in site.data.settings.work-process %}
   <div class="rounded-lg shadow-xl bg-gray-900 text-white" style="width:450px;">
      <div class="border-b border-gray-800 px-8 py-3">
         <div class="inline-block w-3 h-3 mr-2 rounded-full bg-red-500"></div>
         <div class="inline-block w-3 h-3 mr-2 rounded-full bg-yellow-300"></div>
         <div class="inline-block w-3 h-3 mr-2 rounded-full bg-green-400"> </div>
         
         <h4  class="text-white">{{ work.title }}</h4>
      </div>
      <div class="px-8 py-6">
         <p><em class="text-blue-400"> <img src="{{ work.icon | relative_url }}" class="mb-4" alt="icon"></em>   </p>
         <p class="text-green-400">  {{ work.content  }} </p>
         <p class="text-green-400">   </p>
      </div>
   </div>
   {% endfor %}
   {% endif %}
    
    
</div>