---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 flex-col md:flex-row">
        <!---->
          
        <h4 class="font-tertiary  text-green-300">Sustainability Innovator. <span class="text-yellow-400"> Community Impact Designer</span> <span class="text-green-400">  Collaboration Enabler</span>   </h4>  
     <h6 class="font-tertiary  text-yellow-400">  Recognized change agent in the sustainability space and circular economy 
       and key innovator in sustainable tourism.
 
       </h6> 
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg-top.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-sm.png" alt="illustrations" class="bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->


<div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-5 space-x-5">


  <div class="rounded-lg shadow-xl bg-gray-900 text-white " >
      
        <!-- card -->
      <div class="card shadow-2xl w-96 m-4">
        <figure>
          <img src="{{ site.baseurl }}/assets/images/about/program.png ">
        </figure> 
        <div class="card-body">
          <h4 class="card-title">Strategy Design & Program/Product Conceptialization
              </h4> 
          <p>Conceptualize new program and build the structure and flow/process map for a new program. Design process & enable system design for a set of problems.
 </p> 
        </div>
      </div>
  </div>



        <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
          <div class="card shadow-2xl w-96 m-4">
            <figure>
              <img src="{{ site.baseurl }}/assets/images/about/community.png">
            </figure> 
            <div class="card-body">
              <h4 class="card-title">Community Engagement & Design for Impact </h4> 
              <p>Engage with communities in ensuring they get activated to create impact.
                .</p> 
            </div>
          </div>
        </div>

        <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
          <div class="card shadow-2xl w-96 m-4">
            <figure>
              <img src="{{ site.baseurl }}/assets/images/about/sustaindesign.png">
            </figure> 
            <div class="card-body">
              <h4 class="card-title">Innovation  Design for Sustainability </h4> 
              <p>Design innovation for process/ technology/platform.
                 .</p> 
            </div>
          </div>
        </div>  
        <div class="rounded-lg shadow-xl bg-gray-900 text-white" >
          <div class="card shadow-2xl w-96 m-4">
            <figure>
              <img src="{{ site.baseurl }}/assets/images/about/enviosn4.jpeg">
            </figure> 
            <div class="card-body">
              <h4 class="card-title">Envision/Inspire
              </h4> 
              <p>Strategy to Envision, Inspire, Configure, Orchestrate and Transform a Product using Innovation process.</p> 
               
            </div>
          </div>
        </div>  
        
</div>
<div class="divider"><h4 class="card-title items-center	text-center">    ADVISORY</h4></div> 


<p class="card-title items-center	text-center">Advisor  for Govt of Karnataka in Cycling and Cycle Tourism and Sustainable Tourism , </p> 

{% include advisory-section.html %}

<div class="divider"><h4 class="card-title items-center	text-center">    RECOGNITION </h4>

  <p class="card-title items-center	text-center">Recognized leader in Start up Space, Sustainability & Innovation</p> 
</div> 

{% include recognition-section.html %} 

<div class="divider"><h4 class="card-title items-center	text-center">    COLLABORATIONS</h4></div> 

<p class="card-title items-center	text-center">Recognized leader in Community
  Collaborations</p> 

{% include collaboration-section.html %}


<!-- about -->

<!-- /about --> 

{% include work-process-section.html %}




{% include competency-section.html %}
